.navbar-interactive-container {
  display: flex;
  position: relative;
}
.navbar-interactive-navbar-interactive {
  width: 100%;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
  background-color: var(--dl-color-primary-100);
}
.navbar-interactive-navlink {
  display: contents;
}
.navbar-interactive-logo {
  height: 16px;
  text-decoration: none;
}
.navbar-interactive-desktop-menu {
  display: flex;
  justify-content: flex-start;
}
.navbar-interactive-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-interactive-navlink1 {
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}
.navbar-interactive-navlink2 {
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-text {
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
}
.navbar-interactive-text1 {
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
}
.navbar-interactive-navlink3 {
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.navbar-interactive-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.navbar-interactive-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-interactive-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-interactive-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-interactive-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-interactive-navlink4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-navlink5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-text2 {
  margin-bottom: var(--dl-space-space-unit);
}
.navbar-interactive-text3 {
  margin-bottom: var(--dl-space-space-unit);
}
.navbar-interactive-navlink6 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-container2 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.navbar-interactive-icon-group {
  display: flex;
}
.navbar-interactive-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.navbar-interactive-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.navbar-interactive-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive-root-class-name {
  width: 100%;
}
.navbar-interactive-root-class-name1 {
  width: 100%;
}
.navbar-interactive-root-class-name2 {
  width: 100%;
}
.navbar-interactive-root-class-name3 {
  width: 100%;
}
@media(max-width: 767px) {
  .navbar-interactive-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar-interactive-desktop-menu {
    display: none;
  }
  .navbar-interactive-navlink2 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-text {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-text1 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-navlink3 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-burger-menu {
    display: flex;
  }
  .navbar-interactive-icon {
    width: 24px;
    height: 24px;
  }
  .navbar-interactive-mobile-menu {
    background-color: var(--dl-color-primary-100);
  }
  .navbar-interactive-container1 {
    align-self: flex-end;
  }
  .navbar-interactive-icon02 {
    width: 24px;
    height: auto;
  }
  .navbar-interactive-menu-close {
    justify-content: flex-end;
  }
  .navbar-interactive-navlink4 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }
  .navbar-interactive-navlink5 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }
  .navbar-interactive-text2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }
  .navbar-interactive-text3 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }
  .navbar-interactive-navlink6 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }
}
@media(max-width: 479px) {
  .navbar-interactive-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navbar-interactive-mobile-menu {
    padding: 16px;
  }
}

.footer-footer {
  flex: 0 0 auto;
  width: 100%;
  height: 150px;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-threeunits);
  align-items: center;
  justify-content: flex-start;
  background-color: #333333;
}
.footer-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.footer-container1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer-link {
  display: contents;
}
.footer-image {
  width: 40px;
  object-fit: cover;
  transition: 0.3s;
  margin-left: 0px;
  margin-right: 0px;
  text-decoration: none;
}

.footer-link1 {
  display: contents;
}
.footer-image1 {
  width: 40px;
  object-fit: cover;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-container2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-text {
  color: #ffffff;
  text-align: center;
}
.footer-container3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-link2 {
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
}



@media(max-width: 479px) {
  .footer-text {
    font-size: 12px;
  }
  .footer-link2 {
    font-size: 12px;
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-head-img {
  width: 100%;
  height: 420px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/playground_assets/big_1-500h.jpg");
  background-position: center;
}
.home-container01 {
  flex: 0 0 auto;
  width: auto;
  height: var(--dl-size-size-xxlarge);
  display: flex;
  align-self: center;
  margin-top: 0px;
  align-items: center;
  justify-content: center;
}
.home-container02 {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.home-image {
  width: 220px;
  object-fit: cover;
}
.home-text {
  color: rgb(255, 255, 255);
  width: 428px;
  height: 210px;
  font-size: 80px;
  align-self: center;
  text-align: left;
  font-family: Sofia Sans Extra Condensed;
  line-height: 0.9;
  margin-left: var(--dl-space-space-unit);
  text-transform: uppercase;
}
.home-link {
  color: rgb(0, 0, 0);
  margin-top: var(--dl-space-space-threeunits);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-color: rgba(0, 0, 0, 0);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
}
.home-link:hover {
  background-color: #ffdf6d;
}
.home-link:active {
  background-color: #ffbe00;
}
.home-icons-767 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: none;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-image01 {
  width: 100px;
  object-fit: cover;
}
.home-icons-7671 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: none;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-image02 {
  width: 100px;
  object-fit: cover;
}
.home-icons-7672 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: none;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-image03 {
  width: 100px;
  object-fit: cover;
}
.home-icons-7673 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: none;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-image04 {
  width: 100px;
  object-fit: cover;
}
.home-icons {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: 0px;
  padding-top: var(--dl-space-space-threeunits);
  margin-right: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
}
.home-ic {
  flex: 0 0 auto;
  width: 25%;
  height: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-image05 {
  width: 100px;
  object-fit: cover;
}
.home-container04 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home-text010 {
  margin: var(--dl-space-space-unit);
  align-self: flex-start;
  text-align: center;
  line-height: 1.5;
}
.home-ic1 {
  flex: 0 0 auto;
  width: 25%;
  height: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container05 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-image06 {
  width: 100px;
  object-fit: cover;
}
.home-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.home-text011 {
  margin: var(--dl-space-space-unit);
  text-align: center;
  line-height: 1.5;
}
.home-ic2 {
  flex: 0 0 auto;
  width: 25%;
  height: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container07 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-image07 {
  width: 100px;
  object-fit: cover;
}
.home-container08 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.home-text012 {
  margin: var(--dl-space-space-unit);
  text-align: center;
  line-height: 1.5;
}
.home-ic3 {
  flex: 0 0 auto;
  width: 25%;
  height: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container09 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-image08 {
  width: 100px;
  object-fit: cover;
}
.home-container10 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.home-text013 {
  margin: var(--dl-space-space-unit);
  text-align: center;
  line-height: 1.5;
}
.home-h1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  padding: var(--dl-space-space-unit);
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
}
.home-text014 {
  color: var(--dl-color-primary-100);
  font-size: 60px;
  font-family: Sofia Sans Extra Condensed;
}
.home-block-767 {
  width: 100%;
  display: none;
  align-items: center;
  flex-direction: column;
}
.home-in-block {
  flex: 0 0 auto;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: flex-start;
}
.home-image09 {
  width: 100px;
  object-fit: cover;
}
.home-text015 {
  width: 333px;
  font-size: 3em;
  align-self: center;
  font-style: normal;
  font-family: Sofia Sans Extra Condensed;
  font-weight: 500;
  line-height: 1;
  margin-left: var(--dl-space-space-twounits);
}
.home-text016 {
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
}
.home-block-7671 {
  width: 100%;
  display: none;
  align-items: center;
  flex-direction: column;
}
.home-in-block1 {
  flex: 0 0 auto;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: flex-start;
}
.home-image10 {
  width: 100px;
  object-fit: cover;
}
.home-text020 {
  width: 333px;
  font-size: 3em;
  align-self: center;
  font-style: normal;
  font-family: Sofia Sans Extra Condensed;
  font-weight: 500;
  line-height: 1;
  margin-left: var(--dl-space-space-twounits);
}
.home-text021 {
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
}
.home-block-7672 {
  width: 100%;
  display: none;
  align-items: center;
  flex-direction: column;
}
.home-in-block2 {
  flex: 0 0 auto;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: flex-start;
}
.home-image11 {
  width: 100px;
  object-fit: cover;
}
.home-text022 {
  width: 333px;
  font-size: 3em;
  align-self: center;
  font-style: normal;
  font-family: Sofia Sans Extra Condensed;
  font-weight: 500;
  line-height: 1;
  margin-left: var(--dl-space-space-twounits);
}
.home-text023 {
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
}
.home-block-7673 {
  width: 100%;
  display: none;
  align-items: center;
  flex-direction: column;
}
.home-in-block3 {
  flex: 0 0 auto;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: flex-start;
}
.home-image12 {
  width: 100px;
  object-fit: cover;
}
.home-text024 {
  width: 333px;
  font-size: 3em;
  align-self: center;
  font-style: normal;
  font-family: Sofia Sans Extra Condensed;
  font-weight: 500;
  line-height: 1;
  margin-left: var(--dl-space-space-twounits);
}
.home-text025 {
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
}
.home-block-7674 {
  width: 100%;
  display: none;
  align-items: center;
  flex-direction: column;
}
.home-in-block4 {
  flex: 0 0 auto;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: flex-start;
}
.home-image13 {
  width: 100px;
  object-fit: cover;
}
.home-text026 {
  width: 333px;
  font-size: 3em;
  align-self: center;
  font-style: normal;
  font-family: Sofia Sans Extra Condensed;
  font-weight: 500;
  line-height: 1;
  margin-left: var(--dl-space-space-twounits);
}
.home-text027 {
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
}
.home-block-7675 {
  width: 100%;
  display: none;
  align-items: center;
  flex-direction: column;
}
.home-in-block5 {
  flex: 0 0 auto;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: flex-start;
}
.home-image14 {
  width: 100px;
  object-fit: cover;
}
.home-text028 {
  width: 333px;
  font-size: 3em;
  align-self: center;
  font-style: normal;
  font-family: Sofia Sans Extra Condensed;
  font-weight: 500;
  line-height: 1;
  margin-left: var(--dl-space-space-twounits);
}
.home-text029 {
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
}
.home-block-7676 {
  width: 100%;
  display: none;
  align-items: center;
  flex-direction: column;
}
.home-in-block6 {
  flex: 0 0 auto;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: flex-start;
}
.home-image15 {
  width: 100px;
  object-fit: cover;
}
.home-text030 {
  width: 333px;
  font-size: 3em;
  align-self: center;
  font-style: normal;
  font-family: Sofia Sans Extra Condensed;
  font-weight: 500;
  line-height: 1;
  margin-left: var(--dl-space-space-twounits);
}
.home-text031 {
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
}
.home-block-7677 {
  width: 100%;
  display: none;
  align-items: center;
  flex-direction: column;
}
.home-in-block7 {
  flex: 0 0 auto;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: flex-start;
}
.home-image16 {
  width: 100px;
  object-fit: cover;
}
.home-text032 {
  width: 333px;
  font-size: 3em;
  align-self: center;
  font-style: normal;
  font-family: Sofia Sans Extra Condensed;
  font-weight: 500;
  line-height: 1;
  margin-left: var(--dl-space-space-twounits);
}
.home-text033 {
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
}
.home-block-1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-primary-100);
}
.home-det1 {
  width: 45%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container11 {
  flex: 0 0 auto;
  width: 40%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.home-container12 {
  flex: 0 0 auto;
  width: 486px;
  display: flex;
  align-items: flex-start;
}
.home-image17 {
  width: auto;
  height: 100px;
  object-fit: cover;
}
.home-text034 {
  width: 333px;
  font-size: 3em;
  align-self: center;
  font-style: normal;
  font-family: Sofia Sans Extra Condensed;
  font-weight: 500;
  line-height: 1;
  margin-left: var(--dl-space-space-twounits);
}
.home-text035 {
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
}
.home-det11 {
  width: 45%;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: flex-start;
}
.home-container13 {
  flex: 0 0 auto;
  width: 40%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.home-container14 {
  flex: 0 0 auto;
  width: 486px;
  display: flex;
  align-items: flex-start;
}
.home-image18 {
  width: auto;
  height: 100px;
  object-fit: cover;
}
.home-text039 {
  width: 332px;
  font-size: 3em;
  align-self: center;
  font-style: normal;
  font-family: Sofia Sans Extra Condensed;
  font-weight: 500;
  line-height: 1;
  margin-left: var(--dl-space-space-twounits);
}
.home-text040 {
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
}
.home-text042 {
  line-height: 1.5;
}
.home-block-11 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.home-det12 {
  width: 45%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container15 {
  flex: 0 0 auto;
  width: 40%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.home-container16 {
  flex: 0 0 auto;
  width: 486px;
  display: flex;
  align-items: flex-start;
}
.home-image19 {
  width: auto;
  height: 100px;
  object-fit: cover;
}
.home-text043 {
  width: 318px;
  font-size: 3em;
  align-self: center;
  font-style: normal;
  font-family: Sofia Sans Extra Condensed;
  font-weight: 500;
  line-height: 1;
  margin-left: var(--dl-space-space-twounits);
}
.home-text044 {
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
}
.home-det13 {
  width: 45%;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: flex-start;
}
.home-container17 {
  flex: 0 0 auto;
  width: 40%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.home-container18 {
  flex: 0 0 auto;
  width: 486px;
  display: flex;
  align-items: flex-start;
}
.home-image20 {
  width: auto;
  height: 100px;
  object-fit: cover;
}
.home-text047 {
  width: 335px;
  font-size: 3em;
  align-self: center;
  font-style: normal;
  font-family: Sofia Sans Extra Condensed;
  font-weight: 500;
  line-height: 1;
  margin-left: var(--dl-space-space-twounits);
}
.home-text048 {
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
}
.home-block-12 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-primary-100);
}
.home-det14 {
  width: 45%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container19 {
  flex: 0 0 auto;
  width: 40%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.home-container20 {
  flex: 0 0 auto;
  width: 486px;
  display: flex;
  align-items: flex-start;
}
.home-image21 {
  width: auto;
  height: 100px;
  object-fit: cover;
}
.home-text049 {
  width: 333px;
  font-size: 3em;
  align-self: center;
  font-style: normal;
  font-family: Sofia Sans Extra Condensed;
  font-weight: 500;
  line-height: 1;
  margin-left: var(--dl-space-space-twounits);
}
.home-text050 {
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
}
.home-det15 {
  width: 45%;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: flex-start;
}
.home-container21 {
  flex: 0 0 auto;
  width: 40%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.home-container22 {
  flex: 0 0 auto;
  width: 486px;
  display: flex;
  align-items: flex-start;
}
.home-image22 {
  width: auto;
  height: 100px;
  object-fit: cover;
}
.home-text051 {
  width: 332px;
  font-size: 3em;
  align-self: center;
  font-style: normal;
  font-family: Sofia Sans Extra Condensed;
  font-weight: 500;
  line-height: 1;
  margin-left: var(--dl-space-space-twounits);
}
.home-text052 {
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
}
.home-block-13 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.home-det16 {
  width: 45%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container23 {
  flex: 0 0 auto;
  width: 40%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.home-container24 {
  flex: 0 0 auto;
  width: 486px;
  display: flex;
  align-items: flex-start;
}
.home-image23 {
  width: auto;
  height: 100px;
  object-fit: cover;
}
.home-text053 {
  width: 318px;
  font-size: 3em;
  align-self: center;
  font-style: normal;
  font-family: Sofia Sans Extra Condensed;
  font-weight: 500;
  line-height: 1;
  margin-left: var(--dl-space-space-twounits);
}
.home-text054 {
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
}
.home-det17 {
  width: 45%;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: flex-start;
}
.home-container25 {
  flex: 0 0 auto;
  width: 40%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.home-container26 {
  flex: 0 0 auto;
  width: 486px;
  display: flex;
  align-items: flex-start;
}
.home-image24 {
  width: auto;
  height: 100px;
  object-fit: cover;
}
.home-text057 {
  width: 335px;
  font-size: 3em;
  align-self: center;
  font-style: normal;
  font-family: Sofia Sans Extra Condensed;
  font-weight: 500;
  line-height: 1;
  margin-left: var(--dl-space-space-twounits);
}
.home-text058 {
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
}
.home-block-map {
  flex: 0 0 auto;
  width: 100%;
  height: 500px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-threeunits);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  background-size: cover;
  justify-content: center;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0.00%,rgba(0, 0, 0, 0.5) 100.00%),url("public/playground_assets/fon_4-500h.jpg");
}
.home-det18 {
  width: 45%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container27 {
  flex: 0 0 auto;
  width: 40%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.home-container28 {
  flex: 0 0 auto;
  width: 486px;
  display: flex;
  align-items: flex-start;
}
.home-text059 {
  color: var(--dl-color-primary-100);
  width: 486px;
  font-size: 60px;
  align-self: center;
  font-style: normal;
  font-family: Sofia Sans Extra Condensed;
  font-weight: 700;
  line-height: 1;
  margin-left: 0px;
}
.home-text060 {
  color: rgb(255, 255, 255);
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
}
.home-link1 {
  text-decoration: underline;
}
.home-container29 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-end;
}
.home-image25 {
  width: 378px;
  object-fit: cover;
}
.home-map-block {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: none;
  align-items: flex-start;
  justify-content: center;
}
.home-h11 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  padding: var(--dl-space-space-unit);
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.home-text072 {
  color: var(--dl-color-primary-100);
  font-size: 60px;
  font-family: Sofia Sans Extra Condensed;
}
.home-mission {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-container30 {
  width: 1200px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-container31 {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-start;
}
.home-image26 {
  width: 474px;
  object-fit: cover;
}
.home-container32 {
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  justify-content: flex-start;
}
.home-text073 {
  line-height: 1.5;
}
.home-container33 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: none;
  align-items: center;
  justify-content: center;
}
.home-image27 {
  width: 100px;
  object-fit: cover;
}
.home-text-mission {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: none;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-container34 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-link3 {
  color: rgb(0, 0, 0);
  margin-top: var(--dl-space-space-twounits);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-color: rgba(0, 0, 0, 0);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
}
.home-link3:hover {
  background-color: #ffdf6d;
}
.home-link3:active {
  background-color: #ffbe00;
}
@media(max-width: 991px) {
  .home-container01 {
    width: auto;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .home-text {
    width: 428px;
    align-self: center;
  }
  .home-icons {
    height: 290px;
    margin-bottom: 0px;
  }
  .home-h1 {
    margin-top: var(--dl-space-space-twounits);
    padding-top: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-bottom: 0px;
  }
  .home-block-767 {
    display: none;
  }
  .home-in-block {
    display: none;
  }
  .home-block-7671 {
    display: none;
  }
  .home-in-block1 {
    display: none;
  }
  .home-block-7672 {
    display: none;
  }
  .home-in-block2 {
    display: none;
  }
  .home-block-7673 {
    display: none;
  }
  .home-in-block3 {
    display: none;
  }
  .home-block-7674 {
    display: none;
  }
  .home-in-block4 {
    display: none;
  }
  .home-block-7675 {
    display: none;
  }
  .home-in-block5 {
    display: none;
  }
  .home-block-7676 {
    display: none;
  }
  .home-in-block6 {
    display: none;
  }
  .home-block-7677 {
    display: none;
  }
  .home-in-block7 {
    display: none;
  }
  .home-container12 {
    width: auto;
  }
  .home-text034 {
    width: 249px;
  }
  .home-container14 {
    width: auto;
  }
  .home-text039 {
    width: auto;
  }
  .home-container16 {
    width: auto;
  }
  .home-text043 {
    width: auto;
  }
  .home-container18 {
    width: auto;
  }
  .home-text047 {
    width: auto;
  }
  .home-container20 {
    width: auto;
  }
  .home-text049 {
    width: auto;
  }
  .home-container22 {
    width: auto;
  }
  .home-text051 {
    width: auto;
  }
  .home-container24 {
    width: auto;
  }
  .home-text053 {
    width: auto;
  }
  .home-container26 {
    width: auto;
  }
  .home-text057 {
    width: auto;
  }
  .home-container30 {
    width: 100%;
  }
  .home-image26 {
    width: 440px;
  }
  .home-container33 {
    display: none;
  }
}
@media(max-width: 767px) {
  .home-container01 {
    width: auto;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .home-text {
    width: 428px;
    align-self: center;
  }
  .home-icons-767 {
    display: flex;
    align-self: center;
    margin-top: var(--dl-space-space-threeunits);
    align-items: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    justify-content: flex-start;
  }
  .home-text006 {
    line-height: 1.5;
    margin-left: var(--dl-space-space-twounits);
  }
  .home-icons-7671 {
    display: flex;
    align-self: center;
    margin-top: var(--dl-space-space-twounits);
    align-items: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    justify-content: flex-start;
  }
  .home-text007 {
    margin-left: var(--dl-space-space-twounits);
  }
  .home-icons-7672 {
    display: flex;
    align-self: center;
    margin-top: var(--dl-space-space-twounits);
    align-items: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    justify-content: flex-start;
  }
  .home-text008 {
    line-height: 1.5;
    margin-left: var(--dl-space-space-twounits);
  }
  .home-icons-7673 {
    display: flex;
    align-self: center;
    margin-top: var(--dl-space-space-twounits);
    align-items: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    justify-content: flex-start;
  }
  .home-text009 {
    margin-left: var(--dl-space-space-twounits);
  }
  .home-icons {
    display: none;
  }
  .home-h1 {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-block-767 {
    display: flex;
  }
  .home-in-block {
    display: flex;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-image09 {
    align-self: flex-start;
  }
  .home-text015 {
    color: var(--dl-color-gray-black);
    width: 100%;
    font-size: 3em;
    align-self: center;
    font-style: normal;
    font-family: Sofia Sans Extra Condensed;
    font-weight: 500;
    line-height: 1;
  }
  .home-text016 {
    width: auto;
    line-height: 1.5;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-block-7671 {
    display: flex;
    margin-top: var(--dl-space-space-threeunits);
  }
  .home-in-block1 {
    display: flex;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-image10 {
    align-self: flex-start;
  }
  .home-text020 {
    color: var(--dl-color-gray-black);
    width: 100%;
    font-size: 3em;
    align-self: center;
    font-style: normal;
    font-family: Sofia Sans Extra Condensed;
    font-weight: 500;
    line-height: 1;
  }
  .home-text021 {
    width: auto;
    line-height: 1.5;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-block-7672 {
    display: flex;
    margin-top: var(--dl-space-space-threeunits);
  }
  .home-in-block2 {
    display: flex;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-image11 {
    align-self: flex-start;
  }
  .home-text022 {
    color: var(--dl-color-gray-black);
    width: 100%;
    font-size: 3em;
    align-self: center;
    font-style: normal;
    font-family: Sofia Sans Extra Condensed;
    font-weight: 500;
    line-height: 1;
  }
  .home-text023 {
    width: auto;
    line-height: 1.5;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-block-7673 {
    display: flex;
    margin-top: var(--dl-space-space-threeunits);
  }
  .home-in-block3 {
    display: flex;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-image12 {
    align-self: flex-start;
  }
  .home-text024 {
    color: var(--dl-color-gray-black);
    width: 100%;
    font-size: 3em;
    align-self: center;
    font-style: normal;
    font-family: Sofia Sans Extra Condensed;
    font-weight: 500;
    line-height: 1;
  }
  .home-text025 {
    width: auto;
    line-height: 1.5;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-block-7674 {
    display: flex;
    margin-top: var(--dl-space-space-threeunits);
  }
  .home-in-block4 {
    display: flex;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-image13 {
    align-self: flex-start;
    padding-left: 10px;
    padding-right: 10px;
  }
  .home-text026 {
    color: var(--dl-color-gray-black);
    width: 100%;
    font-size: 3em;
    align-self: center;
    font-style: normal;
    font-family: Sofia Sans Extra Condensed;
    font-weight: 500;
    line-height: 1;
  }
  .home-text027 {
    width: auto;
    line-height: 1.5;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-block-7675 {
    display: flex;
    margin-top: var(--dl-space-space-threeunits);
  }
  .home-in-block5 {
    display: flex;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-image14 {
    align-self: flex-start;
  }
  .home-text028 {
    color: var(--dl-color-gray-black);
    width: 100%;
    font-size: 3em;
    align-self: center;
    font-style: normal;
    font-family: Sofia Sans Extra Condensed;
    font-weight: 500;
    line-height: 1;
  }
  .home-text029 {
    width: auto;
    line-height: 1.5;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-block-7676 {
    display: flex;
    margin-top: var(--dl-space-space-threeunits);
  }
  .home-in-block6 {
    display: flex;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-image15 {
    align-self: flex-start;
  }
  .home-text030 {
    color: var(--dl-color-gray-black);
    width: 100%;
    font-size: 3em;
    align-self: center;
    font-style: normal;
    font-family: Sofia Sans Extra Condensed;
    font-weight: 500;
    line-height: 1;
  }
  .home-text031 {
    width: auto;
    line-height: 1.5;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-block-7677 {
    display: flex;
    margin-top: var(--dl-space-space-threeunits);
  }
  .home-in-block7 {
    display: flex;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-image16 {
    align-self: flex-start;
  }
  .home-text032 {
    color: var(--dl-color-gray-black);
    width: 100%;
    font-size: 3em;
    align-self: center;
    font-style: normal;
    font-family: Sofia Sans Extra Condensed;
    font-weight: 500;
    line-height: 1;
  }
  .home-text033 {
    width: auto;
    line-height: 1.5;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-block-1 {
    display: none;
  }
  .home-block-11 {
    display: none;
  }
  .home-block-12 {
    display: none;
  }
  .home-block-13 {
    display: none;
  }
  .home-block-map {
    margin-top: var(--dl-space-space-threeunits);
  }
  .home-image25 {
    align-self: flex-end;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-h11 {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-mission {
    display: none;
  }
  .home-text073 {
    line-height: 1.5;
  }
  .home-container33 {
    height: 100%;
    display: flex;
    align-items: flex-start;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    justify-content: flex-start;
  }
  .home-image27 {
    width: 581px;
    align-self: flex-start;
  }
  .home-text-mission {
    height: auto;
    display: flex;
    margin-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-text087 {
    line-height: 1.5;
  }
  .home-link3 {
    margin-top: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 479px) {
  .home-container01 {
    width: auto;
    height: var(--dl-size-size-xxlarge);
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .home-image {
    width: 155px;
    align-self: center;
  }
  .home-text {
    color: rgb(255, 255, 255);
    width: 214px;
    font-size: 60px;
    align-self: center;
    font-family: Sofia Sans Extra Condensed;
    line-height: 0.9;
    text-transform: uppercase;
  }
  .home-text006 {
    line-height: 1.5;
  }
  .home-text007 {
    line-height: 1.5;
  }
  .home-text008 {
    line-height: 1.5;
  }
  .home-text009 {
    line-height: 1.5;
  }
  .home-h1 {
    margin-top: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-text014 {
    font-size: 40px;
  }
  .home-text015 {
    color: var(--dl-color-gray-black);
  }
  .home-text020 {
    color: var(--dl-color-gray-black);
    font-size: 3em;
    font-style: normal;
    font-family: Sofia Sans Extra Condensed;
    font-weight: 500;
    line-height: 1;
  }
  .home-text021 {
    line-height: 1.5;
  }
  .home-text022 {
    color: var(--dl-color-gray-black);
    font-size: 3em;
    font-style: normal;
    font-family: Sofia Sans Extra Condensed;
    font-weight: 500;
    line-height: 1;
  }
  .home-text023 {
    line-height: 1.5;
  }
  .home-text024 {
    color: var(--dl-color-gray-black);
    font-size: 3em;
    font-style: normal;
    font-family: Sofia Sans Extra Condensed;
    font-weight: 500;
    line-height: 1;
  }
  .home-text025 {
    line-height: 1.5;
  }
  .home-text026 {
    color: var(--dl-color-gray-black);
    font-size: 3em;
    font-style: normal;
    font-family: Sofia Sans Extra Condensed;
    font-weight: 500;
    line-height: 1;
  }
  .home-text027 {
    line-height: 1.5;
  }
  .home-text028 {
    color: var(--dl-color-gray-black);
    font-size: 3em;
    font-style: normal;
    font-family: Sofia Sans Extra Condensed;
    font-weight: 500;
    line-height: 1;
  }
  .home-text029 {
    line-height: 1.5;
  }
  .home-text030 {
    color: var(--dl-color-gray-black);
    font-size: 3em;
    font-style: normal;
    font-family: Sofia Sans Extra Condensed;
    font-weight: 500;
    line-height: 1;
  }
  .home-text031 {
    line-height: 1.5;
  }
  .home-text032 {
    color: var(--dl-color-gray-black);
    font-size: 3em;
    font-style: normal;
    font-family: Sofia Sans Extra Condensed;
    font-weight: 500;
    line-height: 1;
  }
  .home-text033 {
    line-height: 1.5;
  }
  .home-block-map {
    display: none;
    align-self: center;
  }
  .home-det18 {
    display: none;
  }
  .home-container28 {
    justify-content: center;
  }
  .home-text059 {
    width: auto;
    align-self: flex-start;
  }
  .home-image25 {
    display: none;
  }
  .home-map-block {
    height: 350px;
    display: flex;
    margin-top: var(--dl-space-space-threeunits);
    align-items: center;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
    background-size: cover;
    justify-content: flex-start;
    background-image: url("public/playground_assets/big_2-400h.jpg");
  }
  .home-text066 {
    color: var(--dl-color-primary-100);
    font-size: 40px;
    text-align: center;
    font-family: Sofia Sans Extra Condensed;
    line-height: 1;
  }
  .home-text067 {
    color: var(--dl-color-gray-white);
    margin-top: var(--dl-space-space-unit);
    line-height: 1.5;
  }
  .home-text069 {
    color: var(--dl-color-gray-white);
  }
  .home-link2 {
    text-decoration: underline;
  }
  .home-text072 {
    font-size: 40px;
  }
  .home-image27 {
    width: 100%;
  }
}
