.navbar-interactive-container {
  display: flex;
  position: relative;
}
.navbar-interactive-navbar-interactive {
  width: 100%;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
  background-color: var(--dl-color-primary-100);
}
.navbar-interactive-navlink {
  display: contents;
}
.navbar-interactive-logo {
  height: 16px;
  text-decoration: none;
}
.navbar-interactive-desktop-menu {
  display: flex;
  justify-content: flex-start;
}
.navbar-interactive-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-interactive-navlink1 {
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}
.navbar-interactive-navlink2 {
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-text {
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
}
.navbar-interactive-text1 {
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
}
.navbar-interactive-navlink3 {
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.navbar-interactive-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.navbar-interactive-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-interactive-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-interactive-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-interactive-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-interactive-navlink4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-navlink5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-text2 {
  margin-bottom: var(--dl-space-space-unit);
}
.navbar-interactive-text3 {
  margin-bottom: var(--dl-space-space-unit);
}
.navbar-interactive-navlink6 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-container2 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.navbar-interactive-icon-group {
  display: flex;
}
.navbar-interactive-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.navbar-interactive-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.navbar-interactive-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive-root-class-name {
  width: 100%;
}
.navbar-interactive-root-class-name1 {
  width: 100%;
}
.navbar-interactive-root-class-name2 {
  width: 100%;
}
.navbar-interactive-root-class-name3 {
  width: 100%;
}
@media(max-width: 767px) {
  .navbar-interactive-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar-interactive-desktop-menu {
    display: none;
  }
  .navbar-interactive-navlink2 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-text {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-text1 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-navlink3 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-burger-menu {
    display: flex;
  }
  .navbar-interactive-icon {
    width: 24px;
    height: 24px;
  }
  .navbar-interactive-mobile-menu {
    background-color: var(--dl-color-primary-100);
  }
  .navbar-interactive-container1 {
    align-self: flex-end;
  }
  .navbar-interactive-icon02 {
    width: 24px;
    height: auto;
  }
  .navbar-interactive-menu-close {
    justify-content: flex-end;
  }
  .navbar-interactive-navlink4 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }
  .navbar-interactive-navlink5 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }
  .navbar-interactive-text2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }
  .navbar-interactive-text3 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }
  .navbar-interactive-navlink6 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }
}
@media(max-width: 479px) {
  .navbar-interactive-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navbar-interactive-mobile-menu {
    padding: 16px;
  }
}

.footer-footer {
  flex: 0 0 auto;
  width: 100%;
  height: 150px;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-threeunits);
  align-items: center;
  justify-content: flex-start;
  background-color: #333333;
}
.footer-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.footer-container1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer-link {
  display: contents;
}
.footer-image {
  width: 40px;
  object-fit: cover;
  transition: 0.3s;
  margin-left: 0px;
  margin-right: 0px;
  text-decoration: none;
}

.footer-link1 {
  display: contents;
}
.footer-image1 {
  width: 40px;
  object-fit: cover;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-container2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-text {
  color: #ffffff;
  text-align: center;
}
.footer-container3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-link2 {
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
}



@media(max-width: 479px) {
  .footer-text {
    font-size: 12px;
  }
  .footer-link2 {
    font-size: 12px;
  }
}

.request-demo-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.request-demo-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.request-demo-head-img {
  width: 100%;
  height: 600px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/playground_assets/big_3-600h.jpg");
  background-position: center;
}
.request-demo-container2 {
  flex: 0 0 auto;
  width: 600px;
  height: 450px;
  display: flex;
  align-self: center;
  margin-top: 0px;
  align-items: flex-start;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}
.request-demo-container3 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.request-demo-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.request-demo-text {
  color: var(--dl-color-primary-100);
  font-size: 4em;
  margin-top: var(--dl-space-space-twounits);
  font-family: Sofia Sans Extra Condensed;
}
.request-demo-textinput {
  width: 408px;
  height: 50px;
  margin-top: var(--dl-space-space-twounits);
}
.request-demo-textinput1 {
  width: 408px;
  height: 50px;
  margin-top: var(--dl-space-space-twounits);
}
.request-demo-link {
  color: rgb(0, 0, 0);
  margin-top: var(--dl-space-space-twounits);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-color: rgba(0, 0, 0, 0);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
}
.request-demo-link:hover {
  background-color: #ffdf6d;
}
.request-demo-link:active {
  background-color: #ffbe00;
}
.request-demo-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: 400px;
  display: flex;
  text-align: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: flex-start;
}
.request-demo-button {
  color: rgb(0, 0, 0);
  padding: var(--dl-space-space-unit);
  margin-top: var(--dl-space-space-twounits);
  transition: 0.3s;
  padding-top: var(--dl-space-space-twounits);
  border-color: rgba(0, 0, 0, 0);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-primary-100);
}
.request-demo-button:hover {
  background-color: #ffdf6d;
}
.request-demo-button:active {
  background-color: #ffbe00;
}
.request-demo-text02 {
  font-size: 30px;
}
.request-demo-text02:hover {
  background-color: #ffdf6d;
}
.request-demo-text02:active {
  background-color: #ffbe00;
}
.request-demo-button1 {
  color: rgb(0, 0, 0);
  padding: var(--dl-space-space-unit);
  margin-top: var(--dl-space-space-twounits);
  transition: 0.3s;
  padding-top: var(--dl-space-space-twounits);
  border-color: var(--dl-color-primary-100);
  border-width: 1px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-white);
}
.request-demo-button1:hover {
  background-color: #ffdf6d;
}
.request-demo-button1:active {
  background-color: #ffbe00;
}
.request-demo-text04 {
  font-size: 16px;
  line-height: 1.5;
}
@media(max-width: 479px) {
  .request-demo-container2 {
    width: 100%;
  }
  .request-demo-container4 {
    width: auto;
  }
  .request-demo-button {
    align-self: center;
  }
}
