<div>
  <link href="./footer.css" rel="stylesheet" />
  <div class="footer-footer">
    <div class="footer-container">
      <div class="footer-container1">
        <img
          alt="image"
          src="public/playground_assets/soc_2.svg"
          class="footer-image"
        />
        <img
          alt="image"
          src="public/playground_assets/soc_3.svg"
          class="footer-image1"
        />
      </div>
      <div class="footer-container2">
        <span class="footer-text">
          <span>Copyright © 2022—2023 MELFYN</span>
        </span>
      </div>
      <div class="footer-container3">
        <span class="footer-text1">
          <span>Contact us: info@melfyn.com</span>
        </span>
      </div>
    </div>
  </div>
</div>
