<div>
  <link href="./footer.css" rel="stylesheet" />
  <div class="footer-footer">
    <div class="footer-container">
      <div class="footer-container1">
        <a
          href="https://www.youtube.com/melfyn"
          target="_blank"
          rel="noreferrer noopener"
          class="footer-link"
        >
          <img
            alt="image"
            src="public/playground_assets/soc_2.svg"
            class="footer-image"
          />
        </a>
        <a
          href="https://linkedin.com/melfyn"
          target="_blank"
          rel="noreferrer noopener"
          class="footer-link1"
        >
          <img
            alt="image"
            src="public/playground_assets/soc_3.svg"
            class="footer-image1"
          />
        </a>
      </div>
      <div class="footer-container2">
        <span class="footer-text">
          <span>Copyright © 2022—2023 MELFYN LLC</span>
        </span>
      </div>
      <div class="footer-container3">
        <a href="mailto:info@melfyn.com?subject=" class="footer-link2">
          <span>Contact us: info@melfyn.com</span>
        </a>
      </div>
    </div>
  </div>
</div>
